.reveal section img {
    border: none;
    background: none;
}

.hide, p#cornifycount {display:none}

.floatleft {
    float:left;
}

.floatright {
    float:right;
}

.reveal li {
    padding: 10px 10px 10px 10px;
}

.reveal section img {
    border-color: rgb(238, 238, 238);
    border-style: solid;
    border-width: 4px;
}